<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <h1>BOARD</h1>

    <div>
        <table class="table table-striped">
        <thead>
        <tr>
            <th>게시글번호</th>
            <th>작성자</th>
            <th>제목</th>
<!--            <th>조회수</th>-->
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boardList}">
            <td th:text="${board.id}"></td>
            <td th:text="${board.member.userName}"></td>
            <td>
                 <a href="#" th:href="@{/board/{boardId}/view_board (boardId=${board.id})}">
                     <span th:text="${board.title}" class="link-dark"></span>
                 </a>
            </td>
<!--            <td th:text="${board.hit}"></td>-->
            <td th:text="${board.localDateTime}"></td>

        </tr>
        </tbody>
        </table>
    </div>
    <!--  페이징   boardList 가 날라옴 페이징한 게시판   -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${1 == boardList.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link" href="#"
                   th:href="@{/board/list(page=${boardList.pageable.pageNumber - 1})}"
                   tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item" th:classappend="${i == boardList.pageable.pageNumber + 1} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage, endPage)}">
                <a class="page-link" href="#" th:href="@{/board/list(page=${i - 1})}" th:text="${i}">1</a>
            </li>
            <li class="page-item" th:classappend="${boardList.totalPages == boardList.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link" href="#" th:href="@{/board/list(page=${boardList.pageable.pageNumber + 1})}">Next</a>
            </li>
        </ul>
    </nav>
<!--  페이징      -->



    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->
</body>
</html>