<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>


    <table class="table table-bordered">
        <tr>
            <th>번호</th>
            <td th:text="${boardForm.id}"></td>
            <th>작성자</th>
            <td th:text="${boardForm.userName}"></td>
        </tr>
        <tr>
            <th>제목</th>
            <td colspan="4" th:text="${boardForm.title}"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td colspan="4" height="400" th:text="${boardForm.content}" ></td>
        </tr>
    </table>

    <tr th:if="${session.user_Name} == ${{boardForm.userName}}">
        <a href="#" th:href="@{/board/{boardId}/edit (boardId=${boardForm.id})}" class="btn btn-primary" role="button">수정</a>
        <a href="#" th:href="@{/board/{boardId}/remove (boardId=${boardForm.id})}" class="btn btn-danger" role="button">삭제</a>
    </tr>

    <!-- show user comment    -->

    </br>
    </br>

        <table class="table">
            <tbody>
                <tr>
                    <td>이름</td>
                    <td>코멘트</td>
                </tr>



            </tbody>
        </table>


    </br>
    </br>
<!--    -->
    <!-- comment Fn      board id,  // user id, comment는 form으로 넘기기 th:object="${CommentForm}" view보드 갈때 폼 가지고 가야함   -->
<!--    <form action="@{/board/${boardId}/write_comment} (boardId=${boardForm.id})" th:object="${commentForm}" method="post">-->
    <form th:object="${commentForm}" method="post" >
            <div class="form-group">
                <label th:for="userName">이름</label>
                <input type="text" readonly class="form-control-plaintext" name = "userName" id="userName" th:value="${session.user_Name}">

                <label th:for="userComment">내용</label>
                <input type="text" class="form-control" name="userComment" id="userComment">

            </div>
        <button type="submit" class="btn btn-primary">입력</button>
    </form>


    </a>
    </br>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>
