<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="jumbotron">
        <p class="lead">JPA BOARD</p>
        <p>
            <a class="btn btn-outline-primary" href="/member/list">회원 목록</a>
            <a class="btn btn-outline-secondary" href="/board/list">게시판</a>
        </p>
        <p class="lead">가입 및 글쓰기</p>
        <p>
            <a class="btn btn-outline-info" href="/member/new">회원 가입</a>
            <a class="btn btn-outline-success" href="/board/write">글쓰기</a>
        </p>
        <a th:if="${session.user_Id == null}">
            <p class="lead">로그인</p>
            <p>
                <a class="btn btn-outline-info" href="/member/signin">로그인</a>
            </p>
        </a>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>